
<div class="row">
<div class="col-md-6">
    <h3><a href="http://swcarpentry.github.io/shell-novice/" target="_blank">Day 1</a></h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Introduction</td> </tr>
      <tr> <td>10:10</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> </td>  </tr>
      <tr> <td>10:15</td>  <td><a href="http://swcarpentry.github.io/shell-novice/setup.html" target="_blank">Setup</a></td> </tr>
      <tr> <td>10:25</td>  <td><a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html" target="_blank">1. Introducing the Shell</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html" target="_blank">2. Navigating Files and Directories</a></td> </tr>
      <tr> <td>10:55</td>  <td><a href="http://swcarpentry.github.io/shell-novice/03-create/index.html" target="_blank">3. Working With Files and Directories</a></td> </tr>
      <tr> <td>11:15</td>  <td>Break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html" target="_blank">4. Pipes and Filters</a></td> </tr>
      <tr> <td>11:55</td>  <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html" target="_blank">5. Loops</a></td> </tr>
      <tr> <td>12:15</td>  <td><a href="http://swcarpentry.github.io/shell-novice/06-script/index.html" target="_blank">6. Shell Scripts</a></td> </tr>
      <tr> <td>12:35</td>  <td><a href="http://swcarpentry.github.io/shell-novice/07-find/index.html" target="_blank">7. Finding Things</a></td> </tr>
      <tr> <td>12:55</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>

<div class="col-md-6">
    <h3><a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Day 2</a></h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="" target="_blank">Review of Day 1</a></td> </tr>
      <tr> <td>10:10</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/setup.html" target="_blank">Setup</a></td> </tr>
      <tr> <td>10:20</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html" target="_blank">1. Running and Quitting</a></td> </tr>
      <tr> <td>10:35</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html" target="_blank">2. Variables and Assignment</a></td> </tr>
      <tr> <td>10:55</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html" target="_blank">3. Data Types and Type Conversion</a></td> </tr>
      <tr> <td>11:15</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/05-coffee/index.html" target="_blank">4. Coffee</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html" target="_blank">5. Built-in Functions and Help</a></td> </tr>
      <tr> <td>11:50</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html" target="_blank">6. Libraries</a></td> </tr>
      <tr> <td>12:10</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html" target="_blank">7. Reading Tabular Data into DataFrames</a></td> </tr>
      <tr> <td>12:25</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html" target="_blank">8. Pandas DataFrames</a></td> </tr>
      <tr> <td>12:40</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html" target="_blank">9. Plotting</a></td> </tr>
      <tr> <td>12:55</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/10-lunch/index.html" target="_blank">Wrap-up</a></td> </tr>
    </table>
  </div>

<div class="col-md-6">
    <h3><a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Day 3</a></h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Review of Day 2</a></td> </tr>
      <tr> <td>10:15</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html" target="_blank">11. Lists</a></td> </tr>
      <tr> <td>10:25</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html" target="_blank">12. For Loops</a></td> </tr>
      <tr> <td>10:40</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/13-conditionals/index.html" target="_blank">13. Conditionals</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets/index.html" target="_blank">14. Looping Over Data Sets</a></td> </tr>
      <tr> <td>11:15</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/15-coffee/index.html">Break</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/16-writing-functions/index.html" target="_blank">16. Writing Functions</a></td> </tr>
      <tr> <td>11:55</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/17-scope/index.html" target="_blank">17. Variable Scope</a></td> </tr>
      <tr> <td>12:15</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/18-style/index.html" target="_blank">18. Programming Style</a></td> </tr>
      <tr> <td>12:35</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/19-wrap/index.html" target="_blank">19. Wrap-up</td> </tr>
      <tr> <td>12:55</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/20-feedback/index.html" target="_blank">Feedback</td> </tr>
    </table>
  </div>

<div class="col-md-6">
    <h3><a href="http://swcarpentry.github.io/git-novice/" target="_blank">Day 4</a></h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Review of Day 3</a></td> </tr>
      <tr> <td>10:15</td>  <td><a href="http://swcarpentry.github.io/git-novice/setup.html" target="_blank">Setup</a></td> </tr>
      <tr> <td>10:25</td>  <td><a href="http://swcarpentry.github.io/git-novice/01-basics/index.html" target="_blank">1. Automated Version Control</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/02-setup/index.html" target="_blank">2. Setting Up Git</a></td> </tr>
      <tr> <td>10:35</td>  <td><a href="http://swcarpentry.github.io/git-novice/03-create/index.html" target="_blank">3. Creating a Repository</a></td> </tr>
      <tr> <td>10:45</td>  <td><a href="http://swcarpentry.github.io/git-novice/04-changes/index.html" target="_blank">4. Tracking Changes</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html" target="_blank">5. Exploring History</a></td> </tr>
      <tr> <td>11:15</td>  <td>Break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/06-ignore/index.html" target="_blank">6. Ignoring Things</a></td> </tr>
      <tr> <td>11:35</td>  <td><a href="http://swcarpentry.github.io/git-novice/07-github/index.html" target="_blank">7. Remotes in GitHub</a></td> </tr>
      <tr> <td>11:50</td>  <td><a href="http://swcarpentry.github.io/git-novice/08-collab/index.html" target="_blank">8. Collaborating</a></td> </tr>
      <tr> <td>12:05</td>  <td><a href="http://swcarpentry.github.io/git-novice/09-conflict/index.html" target="_blank">9. Conflicts</a></td> </tr>
      <tr> <td>12:20</td>  <td><a href="http://swcarpentry.github.io/git-novice/10-open/index.html" target="_blank">10. Open Science</a></td> </tr>
      <tr> <td>12:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/11-licensing/index.html" target="_blank">11. Licensing</a></td> </tr>
      <tr> <td>12:35</td>  <td><a href="http://swcarpentry.github.io/git-novice/12-citation/index.html" target="_blank">12. Citation</a></td> </tr>
      <tr> <td>12:37</td>  <td><a href="http://swcarpentry.github.io/git-novice/13-hosting/index.html" target="_blank">13. Hosting</a></td> </tr>
      <tr> <td>12:47</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td>  </tr>
      <tr> <td>12:55</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>


