<div class="row">
<div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Introdcution to workshop by the host and instructors</td> </tr>
      <tr> <td>10:10</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> </td>  </tr>
      <tr> <td>10:15</td>  <td>Check Environment and Setup</td> </tr>
      <tr> <td>10:25</td>  <td>1. Introducing the Shell</td> </tr>
      <tr> <td>10:30</td>  <td>2. Navigating Files and Directories</td> </tr>
      <tr> <td>10:55</td>  <td>3. Working With Files and Directories</td> </tr>
      <tr> <td>11:15</td>  <td>Coffee</td> </tr>
      <tr> <td>11:30</td>  <td>4. Pipes and Filters</td> </tr>
      <tr> <td>11:55</td>  <td>5. Loops</td> </tr>
      <tr> <td>12:15</td>  <td>6. Shell Scripts</td> </tr>
      <tr> <td>12:35</td>  <td>7. Finding Things</td> </tr>
      <tr> <td>12:55</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>

<div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Check Setup</td> </tr>
      <tr> <td>10:10</td>  <td>Review of Day 1</td> </tr>
      <tr> <td>10:20</td>  <td>1. Running and Quitting</td> </tr>
      <tr> <td>10:35</td>  <td>2. Variables and Assignment</td> </tr>
      <tr> <td>10:55</td>  <td>3. Data Types and Type Conversion</td> </tr>
      <tr> <td>11:15</td>  <td>5. Coffee</td> </tr>
      <tr> <td>11:30</td>  <td>4. Built-in Functions and Help</td> </tr>
      <tr> <td>11:50</td>  <td>6. Libraries</td> </tr>
      <tr> <td>12:10</td>  <td>7. Reading Tabular Data into DataFrames</td> </tr>
      <tr> <td>12:25</td>  <td>8. Pandas DataFrames</td> </tr>
      <tr> <td>12:40</td>  <td>9. Plotting</td> </tr>
      <tr> <td>12:55</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>

<div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Review of Day 2</td> </tr>
      <tr> <td>10:15</td>  <td>11. Lists</td> </tr>
      <tr> <td>10:25</td>  <td>12. For Loops</td> </tr>
      <tr> <td>10:40</td>  <td>13. Conditionals</td> </tr>
      <tr> <td>11:00</td>  <td>14. Looping Over Data Sets</td> </tr>
      <tr> <td>11:15</td>  <td>15. Coffee</td> </tr>
      <tr> <td>11:30</td>  <td>16. Writing Functions</td> </tr>
      <tr> <td>11:55</td>  <td>17. Variable Scope</td> </tr>
      <tr> <td>12:15</td>  <td>18. Programming Style</td> </tr>
      <tr> <td>12:35</td>  <td>19. Wrap-Up</td> </tr>
      <tr> <td>12:55</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>

<div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Review of Day 3</td> </tr>
      <tr> <td>10:15</td>  <td>Check Setup</td> </tr>
      <tr> <td>10:25</td>  <td>1. Automated Version Control</td> </tr>
      <tr> <td>10:30</td>  <td>2. Setting Up Git</td> </tr>
      <tr> <td>10:35</td>  <td>3. Creating a Repository</td> </tr>
      <tr> <td>10:45</td>  <td>4. Tracking Changes</td> </tr>
      <tr> <td>11:00</td>  <td>5. Exploring History</td> </tr>
      <tr> <td>11:15</td>  <td>    Coffee</td> </tr>
      <tr> <td>11:30</td>  <td>6. Ignoring Things</td> </tr>
      <tr> <td>11:35</td>  <td>7. Remotes in GitHub</td> </tr>
      <tr> <td>11:50</td>  <td>8. Collaborating</td> </tr>
      <tr> <td>12:05</td>  <td>9. Conflicts</td> </tr>
      <tr> <td>12:20</td>  <td>10. Open Science</td> </tr>
      <tr> <td>12:30</td>  <td>11. Licensing</td> </tr>
      <tr> <td>12:35</td>  <td>12. Citation</td> </tr>
      <tr> <td>12:37</td>  <td>13. Hosting</td> </tr>
      <tr> <td>12:47</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td>  </tr>
      <tr> <td>12:55</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>


